# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Mac
.DS_Store

# PyCharm / IntelliJ
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
