minio==7.2.14

apache-airflow-providers-google

google-cloud-storage
google-cloud-bigquery
google-cloud-dataproc
google-cloud-pubsub
google-cloud-functions
google-cloud-secret-manager

google-auth
google-api-python-client
